<div class="page">
  <div class="page-header">
    <h2>Nuevo Cliente</h2>
  </div>


  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <form [formGroup]="form" (ngSubmit)="guardar()" novalidate>
    <div class="form-row">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" />
      <div class="error" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="form-row">
      <label>Género</label>
      <select formControlName="genero">
        <option value="">Seleccione</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="O">Otro</option>
      </select>
      <div class="error" *ngIf="form.get('genero')?.touched && form.get('genero')?.invalid">
        Seleccione un género.
      </div>
    </div>

    <div class="form-row">
      <label>Edad</label>
      <input type="number" formControlName="edad" />
      <div class="error" *ngIf="form.get('edad')?.touched && form.get('edad')?.invalid">
        Edad inválida.
      </div>
    </div>

    <div class="form-row">
      <label>Identificación</label>
      <input type="text" formControlName="identificacion" />
      <div class="error" *ngIf="form.get('identificacion')?.touched && form.get('identificacion')?.invalid">
        Identificación obligatoria.
      </div>
    </div>

    <div class="form-row">
      <label>ClienteId</label>
      <input type="text" formControlName="clienteId" />
      <div class="error" *ngIf="form.get('clienteId')?.touched && form.get('clienteId')?.invalid">
        ClienteId obligatoria.
      </div>
    </div>

    <div class="form-row">
      <label>Dirección</label>
      <input type="text" formControlName="direccion" />
      <div class="error" *ngIf="form.get('direccion')?.touched && form.get('direccion')?.invalid">
        Dirección obligatoria.
      </div>
    </div>

    <div class="form-row">
      <label>Teléfono</label>
      <input type="text" formControlName="telefono" />
      <div class="error" *ngIf="form.get('telefono')?.touched && form.get('telefono')?.invalid">
        Teléfono obligatorio.
      </div>
    </div>

    <div class="form-row">
      <label>Contraseña</label>
      <input type="password" formControlName="password" />
      <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        Contraseña mínima 6 caracteres.
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-yellow" [disabled]="submitting">Guardar</button>
      <button type="button" class="btn btn-gray" (click)="router.navigate(['/clientes'])">Cancelar</button>
    </div>

  </form>
</div>