<div class="page">
    
  <div class="page-header">
    <h2>Movimientos</h2>
    <button class="btn btn-yellow" (click)="registrar()">Nuevo Movimiento</button>
  </div>

  <!-- Autocomplete cliente -->
  <div style="margin:12px 0; position:relative; max-width:640px;">
    <input
      class="input"
      placeholder="Buscar cliente por nombre o identificación..."
      [value]="clienteSearch"
      (input)="onClienteInput($any($event.target).value)"
      (focus)="onClienteInput(clienteSearch)"
      autocomplete="off"
    />

    <button *ngIf="clienteSeleccionado"
            class="btn btn-gray"
            style="position:absolute; right:0; top:0; height:38px;"
            (click)="clearClienteSelection()">
      Limpiar
    </button>

    <ul *ngIf="clientesMatches?.length" class="autocomplete-list">
      <li *ngFor="let c of clientesMatches" (click)="seleccionarCliente(c)">
        <strong>{{ c.nombre }}</strong> — <small>{{ c.identificacion }}</small>
      </li>
    </ul>
  </div>

  <div *ngIf="loading" class="info">Cargando movimientos...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


  <!-- TABLA DEL RETO -->
  <table class="table" *ngIf="!loading && filtered.length">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Número Cuenta</th>
        <th>Tipo</th>
        <th>Saldo Inicial</th>
        <th>Estado</th>
        <th>Movimiento</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of filtered">
        <td>{{ m.fecha | date:'short' }}</td>
        <td>{{ m.numeroCuenta }}</td>
        <td>{{ m.tipoCuenta }}</td>
        <td>{{ m.saldoInicial }}</td>
        <td>{{ m.estado }}</td>

        <!-- Movimiento -->
        <td>
          {{ m.tipoMovimiento === 'RETIRO' ? 'Retiro de ' : 'Depósito de ' }}
          {{ m.valor }}
        </td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="!loading && !filtered.length && !errorMessage" class="info">
    No hay movimientos para mostrar.
  </div>

</div>
